
.full-box h2{
    margin-bottom: 25px;
    color: #1C66A6;
    font-size: 1.6rem;
    text-align: center;
}

.full-box{
width: 500px;
height: 400px; 
background-color: rgba(255, 255, 255, 0.9);
display: flex;
flex-direction: column;
border-radius: 10px;
padding: 25px;
border-bottom: solid 3px  #4884b3;
border-right: solid 3px #639cc7;
}

.backgroundsimu {
    height: 700px;
    padding: 5vh;
    background-image: linear-gradient( white, #1C66A6);
    background-size: cover;
    display: flex;
    justify-content: center;

}
.full-box span {
    font-size: .8rem;
    color: #1C66A6;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
display: block;
width: 100%;
padding: 10px;
border-radius: 4px;
margin-bottom: 40px;
border-bottom: solid 2px #87a3b8;
background-color:  rgba(177, 194, 214, 0.8);
color: black;
margin-bottom: 10px;
font-size: .9rem;
}

button{
    display: block;
    border-radius: 20px;
    margin-top: 5px;
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-top: 20px;
    font-size: .9rem;
    transition: 2s;
    background-color: #1C66A6;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;


}
.show-box{
    padding: 25px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    display: none;
    border-radius: 10px;
    font-size: .8rem;
    border-bottom: solid 3px #4884b3;
    border-right: solid 3px #639cc7;
}

.texto-resposta{
    border-bottom: 15px;
    font-size: 18px;
    color: black;

}

.texto-resposta h2 {
    border-bottom: 10px;
    color: #1C66A6;
    font-size: 1.6rem;

}

.texto-resposta b {
    border-bottom: 10px;
    font-size: 1.6rem;
    color: #ff0000;

}

.full-box input:focus {
    border-color: #1C66A6;
    outline: none;
}




